$color-black: #0e1219ff;
$color-green: #22dc9e;
$color-white: #fbfbfbff;
$color-orange: #f8a114;
$color-brown: #816c61ff;
$font-title:'Roboto Mono', monospace;
$font-text: 'Oswald', sans-serif;

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: $color-black
}
nav{
    background-color: $color-black;
    padding: 1em 1em;
    font-family: $font-text;
    justify-content: space-around;
    display: flex;
    img{
        margin: 0 0 0 1em;
        height: auto;
        width: 30%;
    }
}
.slide{
    img{
        height: auto;
        width: 100%;
        display: block;
    }
}

h1{
    color: $color-white;
    text-align: center;
    margin: 1em 0 0 0;
    font-family: $font-text;
}
@mixin sections-styles {
    width: 40%;
    h2{
        color: $color-green;
        text-align: center;
        margin: 1em 0 1em 0;
        font-family: $font-title;
        font-size: 2em;
        letter-spacing: .3em;
    }
    img{
        width: 100%;
        height: auto;
        margin: 0 auto 1em auto;
        display: block;
    }
    p{
        color: $color-white;
        margin: 0 0 1em 0;
        font-family: $font-text;
        font-size: 1.5em;
    }
    a{
        color: $color-brown;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        font-size: 1.5em;
        font-family: $font-text;
        &:hover{
            color: $color-orange;
        }
    }
}

.sections{
    display: flex;
    justify-content: space-evenly;
    .CASES{
        @include sections-styles;
    }

}
@mixin footer-styles {
    width: 30%;
    h3{
        color: $color-green;
        font-family: $font-title;
        margin: 0 0 1em 0;
        text-align: center;
        font-size: 2em;
    }
    a{
        color: $color-white;
        text-decoration: none;
        font-family: $font-text;
        margin: 0 0 1em 0;
        justify-content: center;
        &:hover{
            color: $color-orange;
        }
    }
    p{
        font-family: $font-text;
        color: $color-white;
        font-size: 1.5em;
        text-align: justify;
    }
}
hr{
    margin: 2em 2em;
}
footer{
    display: flex;
    margin: 1.5em 0em;
    justify-content: space-evenly;
    .colunm1{
        @include footer-styles();
    }
    .colunm2{
        @include footer-styles();
    }
}