$color-black: #0e1219ff;
$color-green: #22dc9e;
$color-white: #fbfbfbff;
$color-orange: #f8a114;
$color-brown: #816c61ff;
$font-title:'Roboto Mono', monospace;
$font-text: 'Oswald', sans-serif;

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: $color-black
}
nav{
    background-color: $color-black;
    padding: 1em 1em;
    font-family: $font-text;
    justify-content: space-around;
    display: flex;
    img{
        margin: 0 0 0 1em;
        height: auto;
        width: 30%;
    }
}
.slide{
    img{
        width: 100%;
        height: auto;
    }
}
h1{
    color: $color-white;
    text-align: center;
    margin: 1em 0 0 0;
    font-family: $font-text;
}
p{
    margin: 1em 0 0 0;
    color: $color-white;
    font-size: 1.5em;
    font-family: $font-text;
    text-align: center;
    a{
        color: $color-white;
        text-decoration: none;
        &:hover{
            color: $color-orange;
        }
    }
}

@mixin countryData-style {
    .name{
        color: $color-white;
        font-family: $font-title;
        text-align: center;
        font-size: 2em;
        margin-bottom: 0.2em;
    }
    .flag{
        width: 100%;
        border-radius: 1em;
    }
    .countryData{
        margin: 1em 0 0 0;
        h3{
            color: $color-green;
            font-family: $font-text;
            font-size: 1.5em;
            text-align: center;
            margin-top: 0.5em;
        }
        span{
            color: $color-white;
            font-family: $font-title;
        }
    }
}

@mixin covidData-style{
    align-self: center;
            .covidInfo{
                padding: 0 1em;
                h3{ 
                    font-size: 1.5em;
                    color: $color-green;
                    font-family: $font-text;
                    margin-top: 1em;
                    span{
                        color: $color-white;
                        font-family: $font-title;
                    }   
                }
            }
}

.countries-container{
    color: $color-white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 3em;
    gap: 1em;
    .country-details{
        border: 5px solid $color-green;
        border-radius: 10px;
        padding: 1.5em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .country-data{
            @include countryData-style();
        }
        .country-dataCol{
            @include countryData-style();
        }
        .country-dataAr{
            @include countryData-style();
        }
        .country-dataCl{
            @include countryData-style();
        }
        .country-dataBr{
            @include countryData-style();
        }
        .country-dataEc{
            @include countryData-style();
        }
        .country-covid{
            @include covidData-style();
        } 
        .country-covidCo{
            @include covidData-style();
        } 
        .country-covidAr{
            @include covidData-style();
        } 
        .country-covidCl{
            @include covidData-style();
        } 
        .country-covidBr{
            @include covidData-style();
        } 
        .country-covidEc{
            @include covidData-style();
        } 
    }

}

@mixin footer-styles {
    width: 30%;
    h3{
        color: $color-green;
        font-family: $font-title;
        margin: 0 0 1em 0;
        text-align: center;
        font-size: 2em;
    }
    img{
        width: 20px;
        height: auto;
        color: white;
    }
    a{
        color: $color-white;
        text-decoration: none;
        font-family: $font-text;
        margin: 0 0 1em 0;
        justify-content: center;
        &:hover{
            color: $color-orange;
        }
    }
    p{
        font-family: $font-text;
        color: $color-white;
        font-size: 1.5em;
        text-align: justify;
    }
}
hr{
    margin: 2em 2em;
}
footer{
    display: flex;
    margin: 1.5em 0em;
    justify-content: space-evenly;
    .colunm1{
        @include footer-styles();
    }
    .colunm2{
        @include footer-styles();
    }
}